// To customize the look and feel of Ionic, you can override
// the Sass variables found in Ionic's source scss files.

// App Color Variables
// ---------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (primary: #499);
$background-color: #eff;
$toolbar-background-color: #cee;
$toolbar-inactive-color: #5bb;
$text-color: #022;

// Ionic Sass
// ---------------------------------
//@import "themes/dark";
@import "ionic";

// App Sass
// ---------------------------------
 @import "about/about"
